*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.502);
}

.p1{
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-top: 20px;
}

input[type="button"] {
    width: 80px;
    height: 80px;
    font-size: 22px;
    margin: 3px 3px 3px 3px;
    border-radius: 25px;
  }

  #display{
    width: 348px;
    height: 61px;
    font-size: 25px;
    color: black;
    margin-bottom: 38px;
    border-radius: 20px;
  }

  #calkut{
    width: 510px;
    height: 750px;
    background-color: black;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px;
  }

  table{
    margin: 0 auto;
    padding-top: 170px;
  }

  .close {
    margin-top: 23px;
    width: 2em;
    height: 2em;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }

  .display-flex{
    display: flex;
    gap: 257px;
    margin-left: 12px;
  }